//colour

$white: #fff;
$orange: #c2a984;
$dark-orange: #beac94;
$light-green: #62a5a1;
$black: #1e282f;
$text-orange: #a3865b;
$grey: #2e353e;
$dark-green: #528a87;
$cyan: #5baea9;

//other
$average-font: 'Average', serif;
$montserrat-font: "Montserrat", sans-serif;
$georgia-font: "Georgia", serif;

