@import '_mixins';

.drop-shadow {
  position: relative;
  display: inline-block;

  &:after {
    z-index: -10;
    content: 'Sorry!';
    position: absolute;
    left: 5px;
    top: 3px;
    @include pattern-background;
    color: transparent;
    @include background-clip(text);
  }
}

@include respond-to(desktop) {
  .drop-shadow {

    &:after {
      left: 10px;
      top: 5px;
    }
  }
}