@import 'variables';

.footer {
  background-color: $grey;
  clear: both;
  text-align: center;

  .world-link,
  .link {
    text-transform: uppercase;
    text-decoration: none;
  }

  .world-link {
    font-size: 25px;
    line-height: 62px;
    font-family: $georgia-font;
    color: $white;
  }

  .footer-list {
    border-top: 1px solid $dark-green;
    border-bottom: 2px solid $white;
    padding-bottom: 13px;
    background-color: $light-green;
  }

  .item {
    display: inline-block;
    margin-top: 13px;
  }

  .link {
    font-family: $montserrat-font;
    font-weight: bold;
    color: $white;
    display: inline-block;
    padding: 0 13px;
    border-right: 1px solid $white;
    &.last {
      border: none;
    }
    &:hover {
      color: $black;
    }
  }
}
