@import '_variables';
@import '_mixins';

.main-header {
  position: relative;
  margin: 52px 8px 0 8px;

  .text {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding: 16px 0 24px 0;
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;
    font-size: 64px;
    display: block;
    color: $textBlack;
    position: relative;

  }



}

@include respond-to(desktop) {
  .main-header {
    margin: 85px auto 0 auto;
    width: 682px;

    .text {
      padding-top: 31px;
      padding-bottom: 49px;
      font-size: 104px;
    }
  }
}