@import '_variables';
@import '_mixins';

.search-form {
  border: 2px solid $dark-orange;
  margin: 32px 10px 0 0;
  position: relative;
  padding: 0 17px 0 63px;
  background-color: #fff;

  .text-input {
    font-family: $georgia-font;
    font-size: 16px;
    line-height: 52px;
    border: none;
    color: $black;
    display: block;
    &:focus {
      outline: 0;
    }
  }

  .submit-input {
    border: none;
    background: $white url("mag-glass.png") no-repeat center top;
    height: 27px;
    width: 27px;
    position: absolute;
    top: 11px;
    left: 17px;
  }

  &:after {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 6px;
    left: 8px;
    content: '';
    z-index: -10;
    @include pattern-background;
    border: 2px solid $dark-orange;
  }
}

@include respond-to(desktop) {
  .search-form {
    .text-input {
      font-size: 20px;
    }
  }
}