@import '_variables';

.shape-container {
  $containerWidth: 15px;
  $containerOffset: $containerWidth / 2;
  position: absolute;
  background-color: #fff;
  top: -$containerOffset ;
  z-index: 10;
  &.left {
    left: -$containerOffset;
  }
  &.middle {
    left: 50%;
    margin-left: -$containerOffset;
  }
  &.right {
    right: -$containerOffset;
  }
  &.bottom {
    top: auto;
    bottom: -$containerOffset;
  }

  .circle,
  .star {
    background: transparent url("sprite.png") no-repeat left top;
  }

  .circle {
    width: 5px;
    height: 5px;
    margin: 5px 5px 4px 5px;
    display: inline-block;
  }

  .star {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-position: -5px 0;
  }

}